body {
    padding-top: 49px;
    background-color:grey;
    font-family: ".helvetica neue deskinterface, Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

#container {
    padding: 0;
    margin: 0;
}

#container .navbar-header {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #FF560A;
    height: 50px;
    border-bottom: 0 solid transparent;
}

#container .searchbox {
    height: 50px;
    padding: 10px;
    background-color: lightgray;
    display: block;
    position: relative;
}

#container .searchbox input {
    -webkit-appearance: none;
    appearance: none;
    border: 0 solid transparent;
    border-radius: 5px;
    width: 97%;
    height:100%;
    margin-left: 6px;
    text-indent: 40px;
    text-align: left;
}

#container .searchbox > span {
    position: absolute;
    color: lightgray;
    background-color: transparent;
    font-size: 20px;
    line-height: 13px;
    top: 19px;
    left: 30px;
}

#container .nav {
    position: relative;
}

#container .navbar-default .navbar-brand {
    position: absolute;
    width: 100%;
    text-align: center;
    float: none;
    left: 0;
}

#container .navbar-default .navbar-brand:hover,
#container .navbar-default .navbar-brand:active {
    color: white;
}

#navbar {
    background-color: white;
}

#container .searchbox input:placeholder-shown {
    text-align: center;
    text-indent: 0px;
}

#container .searchbox .ui-input-clear {
    display: none;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-toggle {
    color: white;
    font-size: 27px;
    font-family: ".helvetica neue deskinterface, Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    line-height: 20px;
}

.navbar-default button,
.navbar-default button:hover,
.navbar-default button:active {
}

.navbar-default button.left,
.navbar-default button.left:hover,
.navbar-default button.left:active {
    float: left;
    margin-left: 10px;
    top: 2px;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active {
    border: 0 solid transparent;
    background-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active {
    color: #DD560A;
}

.navbar button i {
    font-size: 34px;
    line-height: 13px;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #323232;
}

.footer div {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}
.footer span {
    display: inline-block;
    width: 33%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.footer span:nth-child(2) {
    border-left: 1px solid rgba(127, 127, 127, 0.5);
    border-right: 1px solid rgba(127, 127, 127, 0.5);
}

.footer span i {
    font-size: 38px;
    line-height: 65px;
    height: 70px;
    color: white;
}

.footer span i.fa-home {
    font-size: 42px;
}

.footer span i.fa:hover {
    color: #DD560A;
}
.footer span i.fa.active {
    color: #ff560a;
}

.footer span i.fa-camera {
    font-size: 35px;
    top: 2px;
}
