body {
    padding-top: 49px;
}

#container {
}

#container > nav {
    background-color: #FF560A;
}

#container .search {
    height: 50px;
    padding: 10px;
    background-color: lightgray;
    display: block;
    position: relative;
}

#container .search input {
    -webkit-appearance: none;
    appearance: none;
    border: 0 solid transparent;
    border-radius: 5px;
    height: 30px;
    width: 97%;
    margin-left: 6px;
    text-indent: 40px;
    text-align: left;
}

#container .search > span {
    position: absolute;
    color: lightgray;
    background-color: transparent;
    font-size: 20px;
    line-height: 13px;
    top: 19px;
    left: 30px;
}

#container .nav {
    position: relative;
}

#container .navbar-default .navbar-brand {
    position: absolute;
    width: 100%;
    text-align: center;
    float: none;
    left: 0;
}

#container .navbar-default .navbar-brand:hover {
    color: white;
}

#container .search input:placeholder-shown {
    text-align: center;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-toggle {
    color: white;
    font-size: 27px;
    font-family: ".helvetica neue deskinterface, Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    line-height: 20px;
}

.navbar-default button,
.navbar-default button:hover {
}

.navbar-default button.left,
.navbar-default button.left:hover {
    float: left;
    margin-left: 10px;
    top: 2px;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover {
    border: 0 solid transparent;
    background-color: transparent;
}

.navbar-default .navbar-toggle:hover {
    color: #DD560A;
}

.navbar button i {
    font-size: 34px;
    line-height: 13px;
}
