.nearby .place {
    display: block;
    position: relative;
    width: 100%;
    height: 35%;
    max-height: 35%;
    background-size: cover;
    background-position: 50% 50%;
    background-color: transparent;
    overflow: hidden;
    float: left;
    border: 1px solid white;
}
.nearby .place.one {
    width: 65%;
}

.nearby .place.two,
.nearby .place.three {
    width: 35%;
    height: 17.5%;
}

.nearby .place.four {
    width: 100%;
}
.nearby .place .meta {
    position: absolute;
    display: block;
    width: 100%;
    height: 52px;
    padding: 10px;
    bottom: 0;
    background-color: rgba(63, 63, 63, 0.4);
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding-right: 80px;
}

.nearby .place.two .meta,
.nearby .place.three .meta {
    height: 28px;
    line-height: 15px;
    font-size: 10px;
    padding: 5px;
    padding-right: 50px;
}

.nearby .place.one .meta {
    height: 34px;
    line-height: 19px;
    font-size: 13px;
    padding: 7px;
    padding-right: 60px;
}

.nearby .place .meta .price {
    position: absolute;
    right: 10px;
    left: auto;
    top: 10px;
}

.nearby .place.one .meta .price {
    top: 7px;

}

.nearby .place.two .meta .price,
.nearby .place.three .meta .price {
    top: 5px;
}

.nearby .place.four .meta .price {

}