.nearby .place {
    display: block;
    position: relative;
    width: 100%;
    height: 35%;
    max-height: 35%;
    background-size: cover;
    background-position: 50% 50%;
    background-color: transparent;
    overflow: hidden;
    /* float: left; */
    border: 1px solid white;
}
/*
.nearby .place.one {
    width: 65%;
}

.nearby .place.two,
.nearby .place.three,{
    width: 65%;
}

.nearby .place.four {
    width: 100%;
}
*/
.nearby .place .meta {
    position: absolute;
    display: block;
    width: 100%;
    height: 52px;
    padding: 10px;
    bottom: 0;
    background-color: rgba(63, 63, 63, 0.4);
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
