
#swipe_container {
	width: 100%;
	margin: auto !important;
	display: block;
	height: 84%;
	position: relative;
	list-style-type: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#swipe_container {
	padding: 0;
	margin: 0;
	border: 0 solid transparent;
}

#swipe_container .buddy {
	padding: 0;
	margin: 0;
	border: 0 solid transparent;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#swipe_container .buddy div.avatar {
	padding: 0;
	margin: 0;
	border: 0 solid transparent;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover !important;
}

.buddy {
	display: none;
	background: #fff;
	border-radius: 10px;
	color: #fff;
	padding: 20px;
	width: 360px;
	height: 360px;
	top: 50px;
	left: 50px;
	position: absolute;
	cursor: hand;
}
.rotate-left {
	transform: rotate(30deg) scale(0.8);
	transition: 1s;
	margin-left: 400px;
	cursor: e-resize;
	opacity: 0;
}
.rotate-right {
	transform: rotate(-30deg) scale(0.8);
	transition: 1s;
	opacity: 0;
	margin-left: -400px;
	cursor: w-resize;
}
.avatar {
	background: #222;
	width: 340px;
	height: 340px;
	display: block;
	margin-top: 10px;
	margin-left: 10px;
	background-size: 100% auto !important;
	background-position: center;
	background-repeat: no-repeat;
}
.like {
	border-radius: 5px;
	padding: 5px 10px;
	border: 2px solid green;
	color: green;
	text-transform: uppercase;
	font-size: 15px;
	position: absolute;
	top: 50px;
	right: 40px;
	text-shadow: none;
}
.dislike {
	border-radius: 5px;
	padding: 5px 10px;
	border: 2px solid red;
	color: red;
	text-transform: uppercase;
	font-size: 15px;
	position: absolute;
	top: 50px;
	left: 40px;
	text-shadow: none;
}

.buddy .restaurant,
.buddy .meta {
	position: absolute;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(63, 63, 63, 0.3);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.buddy .meta .right {
	float: right;
}

.buddy .restaurant {
	bottom: 0;
	top: auto;
	height: 60px;
}

.buddy .meta {
	top: 0;
	bottom: auto;
	height: 30px;
	line-height: 30px;
}

.buddy .restaurant .name {
	height: 20px;
	font-size: 20px;
	line-height: 30px;
	margin-top: 5px;
}

.buddy .restaurant .dish {
	padding-top: 8px;
	height: 28px;
	font-size: 14px;
	color: #DDDDDD;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.buddy .restaurant .bookmark {
	position: absolute;
	right: 0;
	left: auto;
	margin-top: 15px;
	margin-right: 18px;
	font-size: 35px;
	line-height: 40px;
}