{% load staticfiles %}
<head>
<title>Foodbook</title>

  <link rel="stylesheet" type="text/css" href="{% static 'common/lib/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'common/css/style.css' %}">

  {% block pageCSS %}
  {% endblock %}
  <!--  jQuery 1.7+  -->
	<!--script src="jquery-1.9.1.min.js"></script-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{% static 'common/lib/bootstrap/js/bootstrap.min.js' %}"></script>
  {% block pageJS %}
  {% endblock %}

</head>

<body>
<div id="container">
  {% include 'foodbook/header.html' %}

  {% block content %}{% endblock %}
</div>
</body>