{% extends 'foodbook/base.html' %}
{% load staticfiles %}

{% block pagehead %}
<link rel="stylesheet" href="{% static 'foodbook/lib/owl-carousel/owl.carousel.css' %}">
<!-- Default Theme -->
<link rel="stylesheet" href="{% static 'foodbook/lib/owl-carousel/owl.theme.css' %}">

<!-- Include js plugin -->
<script src="{% static 'foodbook/lib/owl-carousel/owl.carousel.js' %}"></script>
{% endblock %}

{% block content %}
<div class='main-content' action=''>
	<form class='search-bar'>
	<input class='search_input textfield' type="text"/>
	<input class='search_input button' type='submit'/>
	</form>
	<div class='photo-slides'>
	stuff 
	</div>

 </div>

 {% endblock %}
