{% extends 'foodbook/base.html' %}
{% load staticfiles %}

{% block pageCSS%}
<!-- Important Owl stylesheet -->
<link rel="stylesheet" href="{% static 'foodbook/lib/owl-carousel/owl.carousel.css' %}">
<!-- Default Theme -->
<link rel="stylesheet" href="{% static 'foodbook/lib/owl-carousel/owl.theme.css' %}"
			>
<link rel="stylesheet" type="text/css" href="{% static 'foodbook/css/style.css' %}">
{% endblock %}

{% block pageJS %}
<!-- Include js plugin -->
<script src="{% static 'foodbook/lib/owl-carousel/owl.carousel.js' %}"></script>
{% endblock %}


{% block content %}
<div class='main-content' action=''>
	<form class='search-bar'>
	<input class='search_input textfield' type="text"/>
	<input class='search_input button' type='submit'/>
	</form>

	<div class="search">
  		<span class="fa fa-search"></span>
  		<input placeholder="">
	</div>
	<div id="owl-example" class="owl-carousel">
		  <div class="images" style="background-image: url('http://www.ethanstowellrestaurants.com/site/assets/files/1234/gallery-barcotto-5.960x0.jpg')"></div>

		  <div class="images" style="background-image: url('http://www.ethanstowellrestaurants.com/site/assets/files/1235/lao7372.960x0.jpg')"></div>

		 	<div class="images" style="background-image:url('http://www.ethanstowellrestaurants.com/site/assets/files/2073/lao7500.960x0.jpg')"></div>

		   <div class="images" style="background-image:url('http://www.ethanstowellrestaurants.com/site/assets/files/2942/lao5747.960x0.jpg')"></div>
	</div>

 </div>
 <script type="text/javascript">
$(document).ready(function() {
 
  $("#owl-example").owlCarousel({
  	singleItem:true,
  	autoHeight:true,
  	transition:'fade',
  	pagination: false
  });
 
});
 </script>

 {% endblock %}
