{% extends 'foodbook/base.html' %}
{% load staticfiles %}

{% block pageCSS%}
<link rel="stylesheet" type="text/css" href="{% static 'foodbook/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'foodbook/css/nearby.css' %}">
{% endblock %}

{% block pageJS %}
<!-- Include js plugin -->
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
<script src="{% static 'foodbook/js/index_temp.js' %}"></script>
{% endblock %}

{% block content %}
<div class="nearby">
    {% for activity in nearby.activities %}
        <!-- {% cycle 'one' 'two' 'three' 'four' as c %} -->
        <div class="place {{ c }}" style="background-image: url('{{ activity.largeImageURL }}')">
            <!-- {{ activity }} -->
            <div class="meta">{{ activity.title }} <span class="price">{{ activity.fromPrice }}<sup><sup>*</sup></sup></span></div>
        </div>
    {% endfor %}
</div>
{% endblock %}
